.order {
  cursor: pointer;
  font-weight: 600;
  border-bottom: 1px solid var(--purple);
  margin: 5px 0;
}
.order:hover {
  background-color: #ced4da8c;
  border: 1px solid #1e7e34;
  padding: 5px;
}
