.order {
  width: 100%;
  text-align: center;
}

.status-badge {
  border: 1px #30c0ff80 solid;
  padding: 1px 5px;
  border-radius: 11px;
  font-size: smaller;
  font-weight: 400;
  color: white;
}

.new-badge {
  background-color: #28a75691;
}

.in-progress-badge {
  background-color: #ffc107;
}

.done-badge {
  background-color: #bd2130b5;
}
