<div class="formContainer">
  <h1>הזמנה חדשה </h1>
  <form (ngSubmit)="commitNewOrder()" #newOrederForm="ngForm">
    <!-- Customer Name Field -->
    <mat-form-field>
      <input matInput placeholder="שם לקוח" [formControl]="nameFormControl" [errorStateMatcher]="matcher" [(ngModel)]="name" required>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        אנא הזן שם לקוח
      </mat-error>
    </mat-form-field>
    <!-- Phone Field -->
    <mat-form-field>
      <input matInput placeholder="מספר טלפון" [formControl]="phoneFormControl" [errorStateMatcher]="matcher" [(ngModel)]="phone" required>
      <mat-error *ngIf="phoneFormControl.hasError('required')">
        אנא הזן מספר טלפון
      </mat-error>
    </mat-form-field>
    <!-- Email Address Field -->
    <mat-form-field>
      <input matInput placeholder="כתובת E-Mail" [formControl]="emailFormControl" [errorStateMatcher]="matcher" [(ngModel)]="email" required>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        הנה הזן כתובת מייל תקינה
      </mat-error>
    </mat-form-field>
    <!-- Date Field-->
    <mat-form-field>
      <input matInput placeholder="תאריך אחרון לאספקה" type="date" [formControl]="dateFormControl"
             [(ngModel)]="lastSupplyDate" [errorStateMatcher]="matcher" required>
      <mat-error *ngIf="dateFormControl.hasError('required')">
        אנא הזן תאריך אחרון לאספקה
      </mat-error>
      <mat-error *ngIf="dateFormControl.hasError('dateValidator') && !dateFormControl.hasError('required')">
        אנא הזן תאריך אחרון לאספקה תקין
      </mat-error>
    </mat-form-field>
    <!-- Size Field -->
    <div class="container">
      <div style="text-align: center"> מידות* </div>
      <div class="row">
        <mat-form-field class="col-6">
          <input matInput placeholder="רוחב" [formControl]="widthFormControl" [errorStateMatcher]="matcher" type="number" step="10"
                 [(ngModel)]="width">
          <mat-error *ngIf="widthFormControl.hasError('required')">
            אנא הזן רוחב וילון
          </mat-error>
          <mat-error *ngIf="widthFormControl.hasError('min') && !widthFormControl.hasError('required')">
            אנא הזן רוחב וילון חיובי
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-6">
          <input matInput placeholder="גובה" [formControl]="heightFormControl" [errorStateMatcher]="matcher" type="number" step="10"
                 [(ngModel)]="height">
          <mat-error *ngIf="heightFormControl.hasError('required')">
            אנא הזן גובה וילון
          </mat-error>
          <mat-error *ngIf="heightFormControl.hasError('min') && !heightFormControl.hasError('required')">
            אנא הזן גובה וילון חיובי
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- Cost Field -->
    <mat-form-field>
      <input matInput placeholder="מחיר" [formControl]="costFormControl" [errorStateMatcher]="matcher" type="number" step="250"
        [(ngModel)]="cost">
      <mat-error *ngIf="costFormControl.hasError('required')">
        אנא הזן מחיר וילון
      </mat-error>
      <mat-error *ngIf="costFormControl.hasError('min') && !costFormControl.hasError('required')">
        אנא הזן מחיר וילון חיובי
      </mat-error>
    </mat-form-field>
    <button type="submit" class="btn btn-default"
    [disabled]="!nameFormControl.valid || !phoneFormControl.valid ||
                !emailFormControl.valid || !dateFormControl.valid ||
                !widthFormControl.valid || !heightFormControl.valid || !costFormControl.valid">
      צור הזמנה חדשה</button>
  </form>
</div>
