<div class="order-details">
  <div class="row">
      <div class="order-details-container">
        <div class="container-header">
          פרטי לקוח
        </div>
        <div class="container-data">
          <div class="row">
            <div class="order-dat-key">שם</div>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newOrder.customerName">
          </div>
        </div>
        <div class="container-data">
          <div class="row">
            <div class="order-dat-key">עיר</div>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newOrder.city">
          </div>
        </div>
        <div class="container-data">
          <div class="row">
            <div class="order-dat-key">רחוב</div>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newOrder.street">
          </div>
        </div>
        <div class="container-data">
          <div class="row">
            <div class="order-dat-key">מספר בית</div>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newOrder.homeNumber">
          </div>
        </div>
        <div class="container-data">
          <div class="row">
            <div class="order-dat-key">כתובת מייל</div>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newOrder.email">
          </div>
        </div>
      </div>
      <div class="order-details-container">
        <div class="container-header">
          פרטי וילון
        </div>
        <div class="container-data">
          <div class="row">
            <div class="order-dat-key">סוג בד</div>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newOrder.cloth">
          </div>
        </div>
        <div class="container-data">
          <div class="row">
            <div class="order-dat-key">סוג תפירה </div>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newOrder.stitching">
          </div>
        </div>
        <div class="container-data">
          <div class="row">
            <div class="order-dat-key">גובה</div>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newOrder.height">
          </div>
        </div>
        <div class="container-data">
          <div class="row">
            <div class="order-dat-key">רוחב</div>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newOrder.width">
          </div>
        </div>
      </div>
      <div class="order-details-container">
          <div class="container-header">
            פרטי תשלום
          </div>
          <div class="container-data">
            <div class="row">
              <div class="order-dat-key">מחיר ההזמנה</div>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newOrder.cost">
            </div>
          </div>
          <div class="container-data">
            <div class="row">
              <div class="order-dat-key">מחיר ההתקנה</div>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newOrder.installationCost">
            </div>
          </div>
          <div class="container-data">
            <div class="row">
              <div class="order-dat-key">סכום ששולם</div>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newOrder.payed">
            </div>
          </div>
          <div class="container-data">
            <div class="row">
              <div class="order-dat-key">יתרה לטלמור</div>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newOrder.talmorBalance">
            </div>
          </div>
          <div class="container-data">
            <div class="row">
              <div class="order-dat-key">יתרה למתקין</div>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newOrder.installationBalance">
            </div>
          </div>
        </div>
    </div>
    <div *ngIf="isEditMode">
      <label class="order-dat-key" for="status" >סטאטוס הזמנה</label>
      <select name="status" id="status" [(ngModel)]="statusSelected">
        <option *ngFor="let status of statusesKeys">{{status}}</option>
      </select>
    </div>
    <div class="buttons row">
      <div class="form-button" (click)="onSave()">שמור</div>
      <div class="form-button" (click)="onCanel()">סגור</div>
    </div>      
</div>