<div>
  <app-navigation
    [selectedView]="view" class="navigation"
    (viewEventEmitter)="onViewChanges($event)">
  </app-navigation>
  <div class="data-container" [ngSwitch]="view" >
    <div *ngSwitchCase="views.orders">
      <app-orders [orders]="orders$ | async"
                  [allOrders]="orders$ | async"
                  [selectedTab]="selectedTab"
                  (tabChangedEmitter)="onChangeTab($event)"
                  (updateOrder)="updateOrderDetails($event)"
                  (deleteOrder)="deleteOrder($event)"
                  (newOrderEmitter)="onViewChanges(views.newOrder)">
      </app-orders>
    </div>
    <div *ngSwitchCase="views.stats">
      <app-statistics></app-statistics>
    </div>
    <div *ngSwitchCase="views.newOrder">
      <app-new-order (createOrder)="createNewOrder($event)" [isEditMode]="false" (cancel)="goToAllOrders()"></app-new-order>
    </div>
  </div>
</div>
