.tabs {
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8;
  justify-content: space-between;
  padding: 20px 40px 0 20px;
}

.tab {
  display: flex;
  flex-direction: row;
  margin: 0 15px;
  cursor: pointer;
  font-weight: 400;
  font-size: medium;
  padding: 5px;
}

.tab:hover {
  border-bottom: 2px solid rgba(0,123,255,.5);
}

.selected {
  border-bottom: 1.5px solid #fd9b40;
}

.new-order-button {
  margin: 0 20px;
}

.new-button {
  border-radius: 20px;
  padding: 5px 20px;
  font-weight: 500;
  cursor: pointer;
  background-color: #fd9b40;
  color: white;
}

.tab-count {
  font-size: x-small;
}
