<div class="tabs row">
  <div class="row">
    <div (click)="onTabSelected('all')" class="tab" [class.selected]="selectedTab == 'all'">
      כל ההזמנות
    <span *ngIf="tabsInfo" class="tab-count" style="color: #0062cc;">
      ({{tabsInfo['all']}})
    </span>
    </div>
    <div (click)="onTabSelected('new')" class="tab" [class.selected]="selectedTab == 'new'">
      חדשות
    <span *ngIf="tabsInfo" class="tab-count" style="color: #28a75691;">
      ({{tabsInfo['new']}})
    </span>
    </div>
    <div (click)="onTabSelected('inProgress')" class="tab" [class.selected]="selectedTab == 'inProgress'">
      בתהליך
    <span *ngIf="tabsInfo" class="tab-count" style="color: #d39e00;">
      ({{tabsInfo['inProgress']}})
    </span>
    </div>
    <div (click)="onTabSelected('done')" class="tab" [class.selected]="selectedTab == 'done'">
      סוימו
    <span *ngIf="tabsInfo" class="tab-count" style="color: #bd2130b5;">
      ({{tabsInfo['done']}})
    </span>
    </div>
  </div>
  <div class="new-order-button">
    <span class="new-button" (click)="onNewOrder()">
      צור הזמנה חדשה
    </span>
  </div>
</div>
