<div class="tabs">
  <div (click)="onTabSelected('all')" class="tab" [class.selected]="selectedTab == 'all'">
    <span *ngIf="tabsInfo" class="tab-count" style="color: #0062cc;">
      {{tabsInfo['all']}}
    </span>
    <span class="tab-text">
      כל ההזמנות
    </span>
  </div>
  <div (click)="onTabSelected('new')" class="tab" [class.selected]="selectedTab == 'new'">
    <span *ngIf="tabsInfo" style="color: #28a75691;">
      {{tabsInfo['new']}}
    </span>
    חדשות
  </div>
  <div (click)="onTabSelected('inProgress')" class="tab" [class.selected]="selectedTab == 'inProgress'">
    <span *ngIf="tabsInfo" style="color: #d39e00;">
      {{tabsInfo['inProgress']}}
    </span>
    בתהליך
  </div>
  <div (click)="onTabSelected('done')" class="tab" [class.selected]="selectedTab == 'done'">
    <span *ngIf="tabsInfo" style="color: #bd2130b5;">
      {{tabsInfo['done']}}
    </span>
    סוימו
  </div>
</div>
