.tabs {
  display: flex;
  margin: 20px;
  background-color: #f8f8f8;
}

.tab {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 2px;
  cursor: pointer;
  font-weight: 500;
  font-size: large;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.tab:hover {
  border-bottom: 2px solid rgba(0,123,255,.5);
}

.selected {
  border-bottom: 2px solid #1e7e34;
}
