<div class="column">
  <app-tabs [selectedTab]="selectedTab"
            [tabsInfo]="tabsInfo"
            (selectedTabChanged)="tabChanged($event)"
            (newOrderEmitter)="createNewOrder()"></app-tabs>
  <div class="row">
    <div class="all-orders-container">
      <div class="table row">
        <div class="table-cell">
          שם הלקוח
        </div>
        <div class="table-cell">
          מספר טלפון
        </div>
        <div class="table-cell">
          סוג בד
        </div>
        <div class="table-cell">
          מחיר
        </div>
        <div class="table-cell">
          סטאטוס
        </div>
        <div class="table-cell"></div>
      </div>
      <app-order *ngFor="let order of orders; let i=index"
                 [class.even]="i%2 == 0"
                 [class.odd]="i%2 == 1"
                 [currOrder]="order"
                 (editOrder)="onEditOrder($event)"
                 (deleteOrder)="onDeleteOrder($event)"
                 (orderDetailsEmitter)="displayOrderCard(order)">
      </app-order>
    </div>
  </div>
</div>
