<div class="column">
  <app-tabs [selectedTab]="selectedTab"
            [tabsInfo]="tabsInfo"
            (selectedTabChanged)="tabChanged($event)"></app-tabs>
  <div class="all-orders-container">
    <div class="table row">
      <div class="table-cell">
        שם הלקוח
      </div>
      <div class="table-cell">
        מספר טלפון
      </div>
      <div class="table-cell">
        סוג בד
      </div>
      <div class="table-cell">
        מחיר
      </div>
      <div class="table-cell">
        סטאטוס
      </div>
    </div>
    <app-order *ngFor="let order of orders"
               class="single-order"
               [currOrder]="order"
               (editOrder)="onEditOrder($event)"
               (deleteOrder)="onDeleteOrder($event)">
    </app-order>
  </div>
</div>
