.all-orders-container {
  display: flex;
  flex-direction: column;
  margin: 35px 50px 0 50px;
  text-align: center;
  flex: 3;
}

.order-header {
  font-size: larger;
  font-style: italic;
  color: var(--purple)
}

.table {
  font-weight: bold;
}

.single-order {
  margin-bottom: 5px;
}

.view {
  flex: 1;
}
