<div class="order-card-header">
  <fa-icon [icon="icon"></fa-icon>
</div>
<div class="order-details">
  <div *ngFor="let currValue of orderKeys">
    <div class="key-container">
      <div class="key-header">{{ordersDisplayValues[currValue]}}:</div>
      <div class="key-data" *ngIf="currValue == 'status'">
        {{statusMapper[selectedOrder[currValue]] }}
      </div>
      <div class="key-data" *ngIf="currValue.includes('Date')">
        {{selectedOrder[currValue] | date: "dd/MM/yyyy"}}
      </div>
      <div class="key-data" *ngIf="currValue !== 'status' && currValue !== 'orderDate'"> {{selectedOrder[currValue] }} </div>
    </div>
  </div>
  <div (click)="onEdit()">
    ערוך
  </div>
  <div (click)="onDelete()">
    מחק הזמנה
  </div>
</div>
