html, body, app-root, .row {
  height: 100%;
}

body {
  direction: rtl;
  text-align: right;
}

:root {
  --purple: #1c0a76cf;
  --blue: #6a94b973;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.data-container {

}

.table-cell {
  flex: 1;
}

app-tabs {
  z-index: 1;
  box-shadow: 0 2px 4px 0 #BBC4BB;
}
