.nav-container {
  background-color: #051f44;
}

.nav-items {
  align-self: center;
  margin: 5px;
}

.icon-text {
  color: #f1eded;
  font-weight: bold;
  font-size: xx-large;
  margin: 5px 50px;
}

.nav-item:hover {
  background-color: #ced4da;
  cursor: pointer;
}

.selected {
  background-color: #f1eded;
}
