.nav-container {
  background-color: rgba(168, 166, 200, 0.61);
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 100%;
  text-align: center;
}

.nav-items {
  /*display: flex;*/
  /*flex-direction: row;*/
}

.icon-text {
  font-weight: bold;
  margin-bottom: 100px;
}

.nav-item {
  margin: 3px 5px 0 15px;
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.nav-item:hover {
  text-decoration: underline;
  color: #117a8b;
  cursor: pointer;
}

.selected {
  text-decoration: underline #17a2b8;
}
