<form>
  <!-- Customer Name Field -->
  <mat-form-field>
    <input matInput placeholder="שם לקוח*" [formControl]="nameFormControl" [errorStateMatcher]="matcher" [(ngModel)]="name">
    <mat-error *ngIf="nameFormControl.hasError('required')">
      אנא הזן שם לקוח
    </mat-error>
  </mat-form-field>
  <!-- Email Address Field -->
  <mat-form-field>
    <input matInput placeholder="E-Mail*" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      הנה הזן כתובת מייל תקינה
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      אנא הזן כתובת מייל
    </mat-error>
  </mat-form-field>
  <!-- Date Field-->
  <mat-form-field>
    <input matInput placeholder="תאריך אחרון לאספקה" type="date" [formControl]="dateFormControl"
           [(ngModel)]="lastSupplyDate" [errorStateMatcher]="matcher">
    <mat-error *ngIf="dateFormControl.hasError('required')">
      אנא הזן תאריך אחרון לאספקה
    </mat-error>
    <mat-error *ngIf="dateFormControl.hasError('dateValidator') && !dateFormControl.hasError('required')">
      אנא הזן תאריך אחרון לאספקה תקין
    </mat-error>
  </mat-form-field>
</form>
