<div class="order-details">
  <div *ngFor="let currValue of orderKeys">
    <div class="key-container">
      <div class="key-header">{{ordersDisplayValues[currValue]}}:</div>
      <div class="key-data" *ngIf="currValue == 'status'">
        {{statusMapper[orderToEdit[currValue]] }}
      </div>
      <div class="key-data" *ngIf="currValue.includes('Date')">
        {{orderToEdit[currValue] | date: "dd/MM/yyyy"}}
      </div>
      <div class="key-data" *ngIf="currValue !== 'status' && currValue !== 'orderDate'"> {{orderToEdit[currValue] }} </div>
    </div>
  </div>
  <div (click)="onSave()">
    שמור
  </div>
</div>
